/* Hero Section */
.hero-image {
  width: 100%;
  height: 600px;
  object-fit: cover;
  object-position: center;
}

/* Recent posts Section */
#recent-posts-section {
  padding-top: 50px;
  padding-bottom: 100px;
}
