# Django project files
*.pyc
*.pyo
__pycache__/
*.sqlite3


# Static files
/staticfiles/

# Media files
/media/

# Virtual environment
venv/
.env

# IDE files
.vscode/
.idea/

# Compiled Python files
*.pyc
*.pyo
*.pyd

# Logs
*.log

# Environment variables
env.py

# Dependency directories
env/
lib/
bin/
