@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Inter:wght@100..900&display=swap");

/* CSS Variables */
:root {
  /* Color Palette */
  --clr-primary: #fbb62e;
  --clr-secondary: #6349e0;
  --clr-frontend-category: #2b6eb4;
  --clr-backend-category: #216b51;
  --clr-design-category: #ef6192;
  --clr-devops-category: #f05a22;
  --clr-perspectives-category: #6349e0;
  --clr-warning: #e44e4e;
  --clr-warning-hover: #f05a22;
  --clr-black: #333333;
  --clr-grey: #949494;
  --clr-light-grey: #e2e1e5;
  --clr-white: #ffffff;

  /* Typography */
  --ff-primary: "Playfair Display", serif;
  --ff-secondary: "Inter", sans-serif;
  --fs-section-heading: 5rem; /* 50px */
  --fs-post-card-heading: 2.6rem; /* 26px */
  --fs-post-card-subheading: 1.2rem; /* 12px */
  --fs-post-card-excerpt: 1.4rem; /* 14px */
  --fs-pagination-page: 2rem; /* 20px */
  --fs-drop-cap: 4.8rem; /* 48px */
  --fs-body: 1.6rem; /* 16px */
  --fw-bold: 700;
  --fw-regular: 400;
}
