{% extends "base.html" %}

{% load static %}

{% block title %}Profile{% endblock %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/profile/profile-detail.css' %}">
{% endblock %}

{% block content %}
    <main class="profile-section">
        <header class="profile-detail-container profile-detail-top">
            <img class="user-profile-image" src="{{ profile.profile_picture_url }}" alt="Profile picture of {{ profile.user.first_name|title }} {{ profile.user.last_name|title }}">
            <section class="profile-top-info">
                <h1>{{ profile.user.username|title }} </h1>
                <section>
                    {% if profile.profession %}
                        <p class="color-grey">{{ profile.profession|title }}</p>
                    {% else %}
                        <p class="color-grey">Profession</p>
                    {% endif %}
                    <p class="color-grey">{% if profile.city %}{{ profile.city|title }}{% else %}City{% endif %}, {% if profile.country %}{{ profile.country|title }}{% else %}Country{% endif %}</p>
                </section>
                {% if user.is_authenticated and user == profile.user or user.is_superuser %}
                    <a class="btn btn-circle profile-edit-btn" href="{% url "update-profile" profile.id %}" aria-label="Edit profile">
                        <img src="{% static "images/icons/edit-icon.svg" %}" alt="Edit icon">
                    </a>
                {% endif %}
            </section>
        </header>

        <section class="profile-detail-container profile-detail-personal">
            <h2 class="profile-detail-heading">Personal Information</h2>
            <section class="profile-detail-grid">
                <section class="profile-detail-field">
                    <h3 class="color-grey">First Name</h3>
                    <p>{{ profile.user.first_name }}</p>
                </section>
                <section class="profile-detail-field">
                    <h3 class="color-grey">Last Name</h3>
                    <p>{{ profile.user.last_name }}</p>
                </section>
                <section class="profile-detail-field profile-dob">
                    <h3 class="color-grey">Date Of Birth</h3>
                    {% if profile.birthday %}
                        <p>{{ profile.birthday }}</p>
                    {% else %}
                        <p>None</p>
                    {% endif %}
                </section>
                <section class="profile-detail-field profile-email">
                    <h3 class="color-grey">Email</h3>
                    <p>{{ profile.user.email|default:"None" }}</p>
                </section>
                <section class="profile-detail-field profile-bio">
                    <h3 class="color-grey">Bio</h3>
                    <p>{{ profile.bio|default:"None" }}</p>
                </section>
            </section>
        </section>

        <section class="profile-detail-container profile-detail-social">
            <h2 class="profile-detail-heading">Social Information</h2>
            <section class="profile-detail-grid">
                <section class="profile-detail-field profile-website">
                    <h3 class="color-grey">Personal Website</h3>
                    <p>{{ profile.website_url|default:"None" }}</p>
                </section>
                <section class="profile-detail-field">
                    <h3 class="color-grey">Github</h3>
                    <p>{{ profile.github_url|default:"None" }}</p>
                </section>
                <section class="profile-detail-field">
                    <h3 class="color-grey">Linkedin</h3>
                    <p>{{ profile.linkedin_url|default:"None" }}</p>
                </section>
                <section class="profile-detail-field">
                    <h3 class="color-grey">Medium</h3>
                    <p>{{ profile.medium_url|default:"None" }}</p>
                </section>
            </section>
        </section>
    </main>
{% endblock %}