{% extends "base.html" %}

{% load static %}

{% block title %}Login{% endblock title %}

{% block css %}
        <link rel="stylesheet" href="{% static 'css/login.css' %}" />
{% endblock css %}

{% block content %}
    <section class="login-section">
        <h1 class="section-heading">Login</h1>
        <img class="form-image" src="{% static "images/icons/form-icon.svg" %}" alt="a decortive form element">
        <form class="form" method="POST">
            {% csrf_token %}
            {{ form.as_p }}
            <button class="btn btn-primary btn-lg" type="submit">Login</button>
        </form>

        <p>Don't have an account? <a class="link-text" href="{% url "signup" %}">Sign Up</a></p>
    </section>
{% endblock content %}