{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}Commit{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock css %}

{% block content %}
    <main>
        <!-- Hero Section -->
        <img src="{% static "images/hero-image.webp" %}" alt="Hero image" class="hero-image">

        <!-- Main Content -->
        <div class="container">
            <!-- Category Menu Section -->
            <section id="category-menu-section">
                {% include "blog/includes/category-menu.html" %}
            </section>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/category-menu.js" %}"></script>
{% endblock scripts %}