{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}Commit{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock css %}

{% block content %}
    <main>
        <!-- Hero Section -->
        <img src="{% static "images/hero-image.webp" %}" alt="Hero image" class="hero-image">

        <!-- Main Content -->
        <div class="container">
            <!-- Category Menu Section -->
            <div id="category-menu-section">
                {% include "blog/includes/category-menu.html" %}
            </div>

            <!-- Recent posts Section -->
            <section id="recent-posts-section">
                <h1 class="section-heading text-center">Recent posts</h1>

                <div class="post-card-container">
                    <!-- Looping through the recent posts and including the post card for each one -->
                    {% for post in recent_posts %}
                        {% include "blog/includes/post-card.html" %}
                    {% endfor %}
                </div>
            </section>
        </div>

        <!-- CTA Section -->
        <section id="signup-cta-section">
            <img class="cta-image" src="{% static "images/cta-image.webp" %}" alt="Cta image">
            <div class="cta-signup">
                <!-- If the user is authenticated, show a prompt to write an post. Otherwise, show a signup prompt. -->
                {% if user.is_authenticated %}
                    <h3 class="cta-heading">Feeling <span class="color-primary">inspired?</span></h3>
                    <a class="btn btn-primary btn-lg" href="{% url 'create-post' %}" aria-label="Write a new post">Write post</a>
                {% else %}
                    <h3 class="cta-heading"><span class="color-primary">Sign up</span> and become <br> a writer today</h3>
                    <a class="btn btn-primary btn-lg" href="{% url 'signup' %}" aria-label="Sign up to become a writer">Sign Up</a>
                {% endif %}
            </div>
        </section>

        <!-- Social Media Section -->
        <div id="social-media-section">
            <ul class="social-media-list">
                <!-- Social media links -->
                <li>
                    <a href="https://www.instagram.com" aria-label="Instagram"><img src="{% static "images/icons/instagram-icon.svg" %}" alt="Instagram logo"></a>
                </li>
                <li>
                    <a href="https://www.facebook.com" aria-label="Facebook"><img src="{% static "images/icons/facebook-icon.svg" %}" alt="Facebook logo"></a>
                </li>
                <li>
                    <a href="https://twitter.com" aria-label="Twitter"><img src="{% static "images/icons/twitter-icon.svg" %}" alt="Twitter logo"></a>
                </li>
                <li>
                    <a href="https://github.com" aria-label="Github"><img src="{% static "images/icons/github-icon.svg" %}" alt="Github logo"></a>
                </li>
            </ul>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/category-menu.js" %}"></script>
{% endblock scripts %}