{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}Commit{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock css %}

{% block content %}
    <main>
        <!-- Hero Section -->
        <img src="{% static "images/hero-image.webp" %}" alt="Hero image" class="hero-image">

        <!-- Main Content -->
        <div class="container">
            <!-- Category Menu Section -->
            <section id="category-menu-section">
                {% include "blog/includes/category-menu.html" %}
            </section>

            <!-- Recent posts Section -->
            <section id="recent-posts-section">
                <h1 class="section-heading text-center">Recent posts</h1>

                <div class="post-card-container">
                    <!-- Looping through the recent posts and including the post card for each one -->
                    {% for post in recent_posts %}
                        {% include "blog/includes/post-card.html" %}
                    {% endfor %}
                </div>
            </section>
        </div>
    </main>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/category-menu.js" %}"></script>
{% endblock scripts %}