{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}{{ post.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post/post-detail.css' %}" />
{% endblock css %}

{% block content %}
    <main>
        <!-- Post Hero Image -->
        <section class="post-detail-image-container">
            {% if user.is_authenticated and user == post.author or user.is_superuser %}
                <div class="post-btn-container" style="top: 20px; right: 30px; gap: 20px;">
                    <a type="submit" class="btn btn-circle" href="{% url "update-post" post.id %}" style="border: var({{ post.category|category_color }}) 3px solid;">
                        <img src="{% static "images/icons/edit-icon.svg" %}" alt="Edit icon of a pencil">
                    </a>
                    <a type="submit" class="btn btn-circle" href="{% url "delete-post" post.id %}" style="border: var({{ post.category|category_color }}) 3px solid;">
                        <img src="{% static "images/icons/cross-icon.svg" %}" alt="Cross icon for deleting a post">
                    </a>
                </div>
            {% endif %}

            <img src="{{ post.get_post_image }}" alt="{{ post.title }}" class="post-detail-image" style="border-bottom: var({{ post.category|category_color }}) 7px solid;">
        </section>
    </main>
{% endblock %}