{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}{{ post.title }}{% endblock title %}

{% block css %}
    <link rel="stylesheet" type="text/css" href="{% static 'css/post/post-detail.css' %}" />
{% endblock css %}

{% block content %}
    <main>
        <!-- Post Hero Image -->
        <section class="post-detail-image-container">
            {% if user.is_authenticated and user == post.author or user.is_superuser %}
                <div class="post-btn-container" style="top: 20px; right: 30px; gap: 20px;">
                    <a type="submit" class="btn btn-circle" href="{% url "update-post" post.id %}" style="border: var({{ post.category|category_color }}) 3px solid;">
                        <img src="{% static "images/icons/edit-icon.svg" %}" alt="Edit icon of a pencil">
                    </a>
                    <a type="submit" class="btn btn-circle" href="{% url "delete-post" post.id %}" style="border: var({{ post.category|category_color }}) 3px solid;">
                        <img src="{% static "images/icons/cross-icon.svg" %}" alt="Cross icon for deleting a post">
                    </a>
                </div>
            {% endif %}

            <img src="{{ post.get_post_image }}" alt="{{ post.title }}" class="post-detail-image" style="border-bottom: var({{ post.category|category_color }}) 7px solid;">
        </section>

        <section class="post-detail-section">
            <!-- Post Content -->
            <div class="post-detail">
                <!-- Author Profile Image -->
                <img class="post-detail-profile-image" src="{{ post.get_author_profile_picture_url }}" alt="Author profile image" style="border: var({{ post.category|category_color }}) 7px solid;">
                <!-- Post Heading -->
                <header class="post-detail-heading-content">
                    <h1 class="section-heading">{{ post.title|title }}</h1>
                    <p class="post-detail-subheading">by <a class="link-text" href="{% url "profile" post.author.id %}">{{ post.author.first_name }} {{ post.author.last_name }}</a> | {{ post.created_on|date:"F d, Y" }}</p>
                    <hr class="post-detail-hr">
                </header>


                <!-- Post Body -->
                <section class="post-content post-detail-body">
                    {{ post.content|safe }}
                </section>
            </div>

            <hr class="post-detail-hr">

            <!-- Comments Section -->
            <section class="comments-section">
                <!-- Total Comments -->
                {% with comments.count as total_comments %}
                    <h2 class="comments-heading">{{ total_comments }} Comment{{ total_comments|pluralize }}</h2>
                {% endwith %}

                <!-- Comments List -->
                <ul class="post-comment-list">
                    {% for comment in comments %}
                        <li class="comment-item">
                            <div class="comment-item-text">
                                <p class="comment-author">{{ comment.author|title }} | {{ comment.created_at|date:"F j Y" }}</p>
                                <p class="comment-content">{{ comment.content|title }}</p>
                            </div>

                            {% if user.is_authenticated and user == comment.author or user.is_superuser %}
                                <div class="comment-btn-container">
                                    <a class="btn btn-circle profile-edit-btn" href="{% url "update-comment" comment.id %}" aria-label="Edit comment">
                                        <img src="{% static "images/icons/edit-icon.svg" %}" alt="Edit icon">
                                    </a>
                                    <a class="btn btn-circle profile-edit-btn" href="{% url "delete-comment" comment.id %}" aria-label="Delete comment">
                                        <img src="{% static "images/icons/cross-icon.svg" %}" alt="Delete icon">
                                    </a>
                                </div>
                            {% endif %}
                        </li>
                    {% empty %}
                        <li>No comments yet.</li>
                    {% endfor %}
                </ul>

                <!-- Add Comment Form -->
                {% if user.is_authenticated %}
                    <form class="form comment-form" method="POST" action="{% url 'post-detail' post.slug %}" >
                        {% csrf_token %}
                        {% for field in comment_form %}
                            <div class="form-field">
                                {{ field.errors }}
                                <label for="{{ field.auto_id }}" class="hidden">{{ field.label }}</label>
                                {{ field }}
                            </div>
                        {% endfor %}
                        <button type="submit" style="width: max-content;" class="btn btn-primary btn-sm">Publish</button>
                    </form>
                {% else %}
                    <p>Have something to say? <a class="link-text" href="{% url "login" %}">Sign in</a> to leave a comment.</p>
                {% endif %}
            </section>
        </section>
    </main>
{% endblock %}