{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}Commit{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock css %}

{% block content %}
    <!-- Main content of the article page -->
    <div class="container">
        <!-- Category Menu Section -->
        <section id="category-menu-section">
            {% include "blog/includes/category-menu.html" %}
        </section>

        <!-- Posts Section -->
        <section id="posts-section">
            <h1 class="section-heading text-center">Articles</h1>
            <div class="post-card-container">
                <!-- Looping through the posts and including the post card for each one -->
                {% for post in page_obj %}
                    {% include "blog/includes/post-card.html" %}
                {% endfor %}
            </div>
        </section>

        <!-- Pagination -->
        <div class="pagination">
            {% if page_obj.has_previous %}
            <div class="pagination-control" href="?page={{ page_obj.previous_page_number }}">
                <img src="{% static "images/icons/arrow-left-icon.svg" %}" width="12" height="12" alt="Left arrow">
                <a class="link-text" href="?page={{ page_obj.previous_page_number }}">prev</a>
            </div>
            {% endif %}
            <span class="pagination-current-page">{{ page_obj.number }}</span>
            {% if page_obj.has_next %}
                <div class="pagination-control">
                    <a class="link-text" href="?page={{ page_obj.next_page_number }}">next</a>
                    <img src="{% static "images/icons/arrow-right-icon.svg" %}" width="12" height="12" alt="Right arrow">
                </div>
            {% endif %}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/category-menu.js" %}"></script>
{% endblock scripts %}