{% extends "base.html" %}

{% load static %}
{% load blog_filters %}

{% block title %}Commit{% endblock title %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/homepage.css' %}" />
{% endblock css %}

{% block content %}
    <!-- Main content of the article page -->
    <div class="container">
        <!-- Category Menu Section -->
        <section id="category-menu-section">
            {% include "blog/includes/category-menu.html" %}
        </section>

        <!-- Posts Section -->
        <section id="posts-section">
            <h1 class="section-heading text-center">Articles</h1>
            <div class="post-card-container">
                <!-- Looping through the posts and including the post card for each one -->
                {% for post in page_obj %}
                    {% include "blog/includes/post-card.html" %}
                {% endfor %}
            </div>
        </section>
    </div>
{% endblock %}

{% block scripts %}
    <script src="{% static "js/category-menu.js" %}"></script>
{% endblock scripts %}